*, *:before, *:after { box-sizing: border-box; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }

::selection, ::-moz-selection { background-color: rgb(212, 212, 212); }
::placeholder { color: gray; }

body { 
  width: 100vw; 
  margin: 0;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 5px 0;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover { 
    color: #000; 
  }
  transition: color 0.3s ease; 
}

button {      
  color: inherit;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  font-size: inherit;
  border: none;
  background-color: transparent;
  &:hover { 
    color: #000; 
  }
  transition: color 0.3s ease; 
}

// .App {
//   display: grid;
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   grid-template-columns: auto;
//   grid-template-rows: 50px auto;
//   grid-template-areas: 
//     "nav"
//     "bdy";
//   overflow: hidden;
// }

// header {
//   grid-area: nav;
//   height: 100%;
//   width: 100%;
//   padding: 0 20px;

//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background: rgba(255, 255, 255, 30%);

//   form {
//     display: flex;
//     width: min(400px, 50vw);

//     button, input {
//       height: 35px;
//       border: none;
//       background: rgba(255, 255, 255, 40%);
//       color: inherit;
//     }

//     input {
//       flex-grow: 1;
//       border-radius: 50px 0 0 50px;
//       padding: 0 10px 0 20px;
//     }

//     button {
//       flex-grow: 0;
//       width: 50px;
//       border-radius: 0 50px 50px 0;
//     }
//   }
// }

// #content {
//   grid-area: bdy;
//   overflow-x: hidden;
//   overflow-y: scroll;
//   scrollbar-color: transparent;
//   .results, .instruction {
//     margin: 0 30px;
//   }
// }

.results {
  #resultsheader {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;

    button {
      padding: 0;
      margin-left: 10px;
    }
  }

  table {
    width: 100%;
    border-radius: 10px;
    border-spacing: 0;
    margin: 30px 0 80px 0;

    thead {
      z-index: 999;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      th {
        padding: 10px;
        border-bottom: 2px solid;
      }
    }

    tbody tr {
      td {
        padding: 10px;
        position: relative;
      }
      &:nth-child(even) {
        background-color: rgba(255, 255, 255, 10%);
      }
    }

    button {
      &:active {
        top: 2px;
        position: relative;
      }
    }
  }

  .justify {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .gotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 700px) {
  .results {
    margin: 0 10px !important;

    table {
      margin-top: 0;

      thead {
        display: none;
      }

      tbody {
        display: flex;
        flex-direction: column;
      }

      tbody tr {
        td {
          display: flex;
          padding: 5px 20px;
          &:nth-of-type(2) {
            padding-top: 30px;
          }
          &:last-of-type {
            padding-bottom: 30px;
          }
          &::before {
            content: attr(label);
            font-weight: bold;
            width: 120px;
            min-width: 120px;
          }
          &[label="#"] {
            display: none;
          }
        }

        border-bottom: 2px solid;
      }
    }
  }
}


.instruction {
  height: 100%;
  display: grid;
  place-items: center;

  div {
    max-width: 800px;
    margin: 0 auto 70px auto;
    padding: 70px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 30%);
    text-align: center;

    h3 {
      margin: 20px 0 10px 0;
    }

    button {
      display: block;
      margin: 5px auto;
    }
  }

  footer {
    position: fixed;
    bottom: 10px;
    left: auto;
    margin: 0 30px;
    text-align: center;
  }
}


.alert-message {
  z-index: 9999;
  display: none;
  opacity: 0;
  width: fit-content;
  height: 40px;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  padding: 10px 30px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 100%);
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.3s ease; 
}